 *{
  box-sizing: border-box;
}

body {
  background-color: #0A141E;
  height: 100vh;
  margin: 0;
  color: #fff;
  overflow: hidden;
  font-family: Arial
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgb(10, 20, 30);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 3px solid #4598ab
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-left img {
  height: 40px;
}

.nav-left span {
  font-size: 22px;
  font-weight: bold;
  color: #27E2C1;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 22px;
}

.nav-right a {

  color: #cfd8dc;
  font-size: 15px;
}

.nav-right a:hover {
  color: #27E2C1;
  
}

.nav-btn {
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}



.login {
  border: 1px solid #27E2C1;
  color: #27E2C1;
}


.main-layout {
  display: flex;
  width: 90%;
  height: calc(100vh - 90px); 
  margin: 90px auto 0;
}

.image-section {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 90%;
  border-radius: 16px;
}


.container {
  width: 60%;
  padding: 20px;
  display: flex;
  justify-content: right;
  align-items: right;
  margin-right: 70px;
}

.login-box {
  background: #0F1A24;
  border: 1px solid #1E2A37;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 0 30px rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 550px;

}

h2 {
  text-align: center;
  font-size: 44px;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  color: #b7c4cd;
  margin-bottom: 20px;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  border-radius: 10px;
  background: #0A141E;
  border: 1px solid #233544;
}

.message {
  max-width: 80%;
  padding: 14px 18px;
  margin-bottom: 14px;
  border-radius: 12px;
  font-size: 16px;
}

.bot {
  background: rgb(2, 55, 45);
  color: #bff5ec;

}

.input-area {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.input-area input {
  flex: 1;
  background: #0A141E;
  border: 3px solid #377a88;
  border-radius: 10px;
  padding: 16px;
  font-size: 16px;
  color: #fff;
}

.input-area button {
  background: #27E2C1;
  border: none;
  padding: 16px 22px;
  border-radius: 10px;
  font-weight: bold;
  color: #03221C;
  cursor: pointer;
 
}
