
 *{
  box-sizing: border-box;
}

body {
   background-color: #0b2229;
  height: 100vh;
  margin: 0;
  color: #fff;
  overflow: hidden;
  font-family: Arial
}


.main-layout {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
 
  padding: 50px 92px 92px 92px;
  height: 100%;
  
}

.image-section {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 90%;
  border-radius: 16px;
}


.container {
  width: 60%;
  height: 95%;
  
  display: flex;
  justify-content: right;
  align-items: right;
  margin-right: 100px;
}

.box {
  background: #0F1A24;
  border: 1px solid #1E2A37;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 550px;

}

h2 {
  text-align: center;
  font-size: 44px;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  color: #b7c4cd;
  margin-bottom: 20px;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  border-radius: 10px;
  background: #0A141E;
  border: 1px solid #233544;
}

.message {
  max-width: 80%;
  padding: 14px 18px;
  margin-bottom: 14px;
  border-radius: 12px;
  font-size: 16px;
}

.bot {
  background: rgb(2, 55, 45);
  color: #bff5ec;

}

.input-area {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.input-area input {
  flex: 1;
  background: #0A141E;
  border: 3px solid #377a88;
  border-radius: 10px;
  padding: 16px;
  font-size: 16px;
  color: #fff;
}

.input-area button {
  background: #27E2C1;
  border: none;
  padding: 16px 22px;
  border-radius: 10px;
  font-weight: bold;
  color: #03221C;
  cursor: pointer;
 
}
